.header-logo {
    position: absolute;
    top: 20px;
    font-size: 36px;
    transition: all 0.8s ease;
    text-shadow: 0 0 5px #ffffff2d, 0 0 10px #39db34, 0 0 20px #93db34, 0 0 40px #85db34;
}

.header-logo:hover {
    transform: scale(1.2);
}

.header-block {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.header-left-block{
    margin-left: 15px;
    margin-top: 10px;
}

.header-right-block{
    margin-right: 15px;
    margin-top: 15px;
    display: flex;
    /* align-items: center; */
    color: #ffffffbb;
    gap: 30px;
}

.deposit-btn {
    height: 30px;
    width: 80px;
    padding-inline: 10px;
    background-color:  #ffeba7;
    text-transform: uppercase;
    color: #102770;
    border-radius: 6px;
    border: none;
}

.balance-btn{
    color: white;
}

.profile-btn{
    width: 25px;
    height: 25px;
}

.profile-btn > img{
    width: 100%;
    height: 100%;
}

.language-btn {

}

.settings{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rblock{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rblock::after {
    content: '';
    display: block;
    width: 1px;
    height: 32px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    right: -15px;
    top: -1px;
}

.profile-btn {
    display: flex;
    height: 100%;
    align-items: center;
}

.deposit-btn {
    width: 80px;
    height: 30px;
    text-transform: uppercase;
    font-size: 14px;
    background-color: transparent; 
    border: 1px solid #ffc107;
    color: #ffc107;
    transition: .4s all;
    cursor: pointer;
}

.deposit-btn:hover{
    color: white;
    border-color: white;
}

.settings > svg{
    transition: .4s all;
}

.animation1{
    transform: rotateZ(90deg);
}

.animation2{
    transform: rotateZ(-90deg);
}

.ddd {
    font-family: 'Arial', sans-serif;
    font-size: 28px; /* Размер текста */
    font-weight: bold;
    color: #d4af37; /* Золотистый цвет */
    position: relative;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-shadow: 
      1px 1px 0px #b8860b,  /* Тень на нижний слой */
      2px 2px 0px #b8860b,
      3px 3px 0px #b8860b,  /* Еще один слой тени для глубины */
      4px 4px 5px rgba(0,0,0,0.2); /* Размытие для мягкого 3D-эффекта */
  }
  
  .ddd::before {
    content: 'Dobry Dadya Diller'; /* Отражение контента */
    position: absolute;
    top: 4px;  /* Отступ для создания эффекта объемности */
    left: 4px;
    z-index: -1;
    color: rgba(0, 0, 0, 0.5); /* Темная тень */
  }
  
.header-divider{
    width: 99%;
    margin: 20px auto;
    height: 2px;
    background-color:  rgba(255, 255, 255, 0.1);
}

.centerlogo{
    position: absolute;
    width: 200px;
    left: 50%;
    top: 4px;
    transform: translateX(-50%); 
}