/* Определение шрифта */
@font-face {
  font-family: 'Segoe UI'; /* Имя шрифта */
  src: url('./fonts/Segoe UI.ttf');
}

/* Стили для body */
body {
  margin: 0;
  padding: 0;
}

/* Класс для желтого цвета */
.yellow-color {
  color: #ffc107;
}

/* Обертка для логина */
.Login-wrapper {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  background-color: #282c34;
  background-image: url('../src/img/loginbg.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
